.back-to-top {
  @apply fixed right-8 -bottom-16 z-10;

  transition: all 0.3s ease;
  box-shadow: 0 5px 20px rgb(0 0 0 / 60%);
  font-family: pixel-en;

  > div {
    transform: rotateZ(-90deg);
  }
}
