.is-centered.is-rounded.nes-container.with-title.article-card > .title.article-title {
  @media (min-width: 768px) {
    margin-top: -2.5rem;
    font-size: 1.5rem;
  }
  margin-top: -2.25rem;
  font-size: 1.25rem;
}
