.gt-comment {
  align-items: end;

  &-content {
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    position: relative;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 8px;
    margin-bottom: 30px;
    background-color: #fff !important;
    border-style: solid;
    border-width: 4px;
    overflow: visible !important;
    max-height: 15rem;

    ::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #4b5563;
    }

    &::before {
      bottom: -14px;
      width: 26px;
      height: 10px;
      background-color: #fff;
      border-right: 4px solid #212529;
      border-left: 4px solid #212529;
      left: 2rem;
      position: absolute;
      content: '';
    }

    &::after {
      bottom: -18px;
      width: 18px;
      height: 4px;
      margin-right: 8px;
      color: #212529;
      background-color: #fff;
      box-shadow: -4px 0, 4px 0, -4px 4px #fff, 0 4px, -8px 4px, -4px 8px, -8px 8px;
      left: 2rem;
      position: absolute;
      content: '';
    }
  }

  &-body {
    overflow: auto;
    max-height: 11.5rem;
    word-break: break-all;
  }
}

.gt-btn,
.gt-avatar-github {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer !important;
}

.gt-header > .gt-header-comment > .gt-header-textarea,
.gt-header > .gt-header-comment > .gt-header-preview {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  border-width: 4px;
  border-style: solid;
  background-color: #fff;
}

.gt-container > .gt-no-init > .gt-btn,
.gt-header-controls > .gt-btn {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  color: #212529;
  border-style: solid;
  border-width: 4px;
  border-radius: 0;

  &::after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: '';
    box-shadow: inset -4px -4px #adafbc;
  }

  &:hover {
    color: #212529;
    text-decoration: none;
    background-color: #e7e7e7;

    &::after {
      box-shadow: inset -6px -6px #adafbc;
    }
  }

  &.gt-btn-login,
  &.gt-btn-public {
    color: #fff;
    background-color: #209cee;

    &::after {
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      content: '';
      box-shadow: inset -4px -4px #006bb3;
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #108de0;

      &::after {
        box-shadow: inset -6px -6px #006bb3;
      }
    }
  }
}
