@font-face {
  font-family: 'pixel';
  src: url('@a/font/pixel.woff2');
}

@font-face {
  font-family: 'pixel-en';
  src: url('@a/font/pixel-en.woff2');
}

.text-pixel {
  font-family: pixel;
}

.text-pixel-en {
  font-family: pixel-en;
}

.application {
  height: 100vh;
  font-family: pixel;
}

.page {
  @apply pt-36 max-w-4xl px-8;

  margin: 0 auto;
  height: 200%;
}
