@font-face {
  font-family: 'pixel';
  src: url('@a/font/pixel.woff2');
}

@font-face {
  font-family: 'pixel-en';
  src: url('@a/font/pixel-en.woff2');
}

.application {
  height: 100vh;
  font-family: pixel;
}

.page {
  @apply h-full pt-36;
}
