.ph {
  &-page {
    @apply bg-black w-full h-full overflow-auto;
    min-width: 800px;
    color: #ff9900;
  }

  &-logo {
    @apply text-4xl rounded-md font-bold text-center p-1;

    &-logo {
      @apply px-2 text-black;

      background-color: rgb(255, 153, 0);
    }
  }

  &-preview {
    @apply flex justify-center items-center;
    padding: 20px 20%;

    &-box {
      padding: 20px 30px;
      border: 1px solid #333;
      border-radius: 10px;
    }

    &-content {
      @apply font-bold text-center;
      padding: 5px;
      border-radius: 7px;
    }

    &-porn {
      @apply bg-black;
      margin-right: 3px;
    }

    &-hub {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &-view {
    @apply bg-black;
    padding: 20px;
  }

  &-setting {
    @apply flex flex-wrap justify-center mt-24;
    width: 440px;

    &-content {
      @apply flex justify-center items-center;
      padding: 12px;
    }
  }

  &-export {
    @apply text-black text-center cursor-pointer rounded-md w-24 py-2;
    background: #ff9900;
  }
}
